@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css');

.about-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
 
}

.about-spacer {
    height: 50px;
}

.header-text {
    display: flex;
    justify-content: center;
}

.hide-heatmap-content {
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 20%;
    display: block;
}

.head-card {
    display: flex;
    justify-content: center;
}

.dev-icon {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid #DDDDDD;
    border-radius: 10px;
    width: 90px;
    height: 90px;
    background-color: rgb(94, 94, 94);
    border-radius: 50%;
}
.profile-icon {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    
    
    width: 90px;
    height: 90px;
    background-color: rgb(1, 29, 29);
    border-radius: 50%;
}

.spot-title {
    display: flex;
    justify-content: center;
}

.about-info-spot {
    display: flex;
    text-align: justify;
    justify-content: center;




}

.about-info {
    width: 50%;
    margin-left: 25%;
}

.about-adjust-size {

    clip-path: inset(10px 250px 10px 250px);
}

.about-bgcard {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(10, 10, 37, 0.918);
    overflow: hidden;
    height: 90vh;
}

.about-media {
    
    display: flex;
    justify-content: center;
    
  
}

.about-media .li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
    
}

.about-media .li a {
    text-decoration: none;
}

.about-media .li a .fa-brands {
    font-size: 3em;
    color: #363636;
}

.about-media .li a::before {
    font-family: "FontAwesome";
    position: absolute;
    top: -12px;
    left: 0;
    font-size: 3em;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.github-icon::before {
    content: "\f09b";
    color: #ffffff;
    border-bottom: 4px solid #ffffff;
}

.linkedin-icon::before {
    content: "\f08c";
    color: #0077B5;
    border-bottom: 4px solid #0077B5;
    
}

.about-media .li:hover a::before {
   
  
   
    height: 120%;
}